---
import Section from "@/components/Section.astro";

import { getCv } from "@cv";
import { getI18n } from "@i18n";

const { currentLocale } = Astro;
const { basics } = getCv(currentLocale);
const { summary } = basics;

const i18n = getI18n(currentLocale);
---

<Section title={i18n.TITLE_ABOUT}>
  <p class="text-sm">{summary}</p>
</Section>
