---
import Section from "@/components/Section.astro";
import { getI18n } from "@/i18n";
import { getCv } from "@cv";

const { currentLocale } = Astro;
const { languages } = getCv(currentLocale);

const i18n = getI18n(currentLocale);
---

<Section title={i18n.TITLE_LANGUAGES}>
  <ul>
    {
      languages.map(({ language, fluency }) => {
        return (
          <li>
            <span class="text-gray-950 dark:text-gray-100">{language}</span> &middot;
            <span>{fluency}</span>
          </li>
        );
      })
    }
  </ul>
</Section>
