---
import Layout from "../layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Languages from "@/components/sections/Languages.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";

import { basics } from "@cv";
---

<Layout title={basics.name} lang="es">
  <main class="m-auto px-8 sm:px-16 my-16 print:my-4 print:px-8">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Languages />
    <Projects />
  </main>

  <KeyboardManager />
</Layout>
