---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="inline-flex size-8 cursor-pointer items-center justify-center rounded-md border border-gray-200 transition-all hover:bg-gray-100 hover:text-gray-950 dark:border-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-100"
  title={title}
>
  <slot />
</a>
