---
interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Leandro Morrone portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="bg-white dark:bg-gray-950">
    
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
      body {
        @apply text-pretty font-mono leading-5 tracking-tight text-gray-500 dark:text-gray-400;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        @apply text-balance font-sans text-gray-950 dark:text-gray-100;
      }
    </style>
  </body>
</html>
